{% extends "base.html" %} {% block title %} Alert Audit {% endblock %} {% block
content %}
<style>
	.table > tbody > tr:nth-of-type(odd) {
		background-color: #c9e5ef;
	}
</style>
<br />
<h2 style="position: absolute; left: 580px;"><b>Alert Audit</b></h2>
<div  style="position: absolute; right: 90px;">
	<a href="/export-audit">
		<button
			type="button"
			class="btn btn-info lg"
			style="background-color: #003e7f; color: white"
		>
			Export
		</button>
	</a>
</div>
<br>
<br>
<br>
<div class="container">
	<table class="table" id="myTable">
		<thead>
			<tr style="background-color: #003e7f; color: white">
				<th>ID</th>
				<th>Ticket Status</th>
				<th>Recipients</th>
				<th>Sent On</th>
			</tr>
		</thead>
		<tbody>
			{% for alertaudit in alertaudits %}
			<tr>
				<td>{{alertaudit.id}}</td>
				<td>{{alertaudit.ticket_status}}</td>
				<td>{{alertaudit.recipients}}</td>
				<td>{{alertaudit.sent_on}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<script>
	$(document).ready(function () {
		$("#myTable").DataTable();
	});
</script>
{% block footer %}{% endblock %} {% endblock %}
