{% extends "base.html" %}
{% block title %} Assign Consultant {% endblock %}
{% block content %}
<body>
	<h1 align="center">Assign a Consultant</h1>
<form method='POST'>
    <div align='center' class="form-group">
        
        <select class="form-select" id="consultant-name" name = "consultant-name">
            <option></option>
                <optgroup label="Available consultants">
                   
                    {% for consultant in consultants %}
                        {% if consultant.status != "Occupied" %}
                            <option value="{{consultant.username}}">{{consultant.username}}</option>
                        {% endif %}  
                    {% endfor %}     
                </optgroup>
            <optgroup label="Occupied consultants">
                {% for consultant in consultants %}
                    {% if consultant.status == "Occupied" %}
                    <option selected disabled>{{consultant.username}}</option>
                    {% endif %}
                {% endfor %} 
            </optgroup>
        </select>

        <br>
        <br>
        <button type="submit" class="btn btn-lg btn-dark">Assign</button>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function() {
        $('#consultant-name').select2({
            placeholder:{ id:"", text:'Please select consultant'},
            allowClear:true
        });
        $("#consultant-name").val("");
        $("#consultant-name").trigger("change");
    });

    </script>
</body>
</html>
{% endblock %}