{% extends "base.html" %}
{% block title %} {% endblock %}
{% block content %}
<h1 align="center">{% block header %}{% endblock %}</h1>
    <div id="tickets">
        <div class="card border-dark">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div class="ml-auto p-2">
                <b>Ticket #{{ticket.id}}</b>
                <br>
                Created By: 
                {{ticket.author.username}}
                <!-- <a href="/ticketsby/{{ticket.author.username}}">
                </a> -->
                </div>
                <div class = "btn-group">
                    <button 
                        type="button" 
                        class="btn btn-sm" 
                    > 
                        <a href="/edit-ticket/{{ticket.id}}" class="dropdown-item">
                            <span class="bi-pen">Edit Ticket</span>
                        </a>
                    </button>
                </div>
                {% if user.id == ticket.author_id %}
                <div class = "btn-group">
                    <button 
                        type="button" 
                        class="btn btn-sm" 
                    > 
                        <a href="/delete-ticket/{{ticket.id}}" class="dropdown-item">
                            <span class="bi-trash"></span>
                        </a>
                    </button>
                </div>
                {% endif %}
                {% if user.usertype == 'admin' %}
                <!-- <div class = "btn-group">
                    <button 
                        type="button" 
                        class="btn btn-sm" 
                    > 
                        <a href="/assign-assignee/{{ticket.id}}" class="dropdown-item">
                            <span class="bi-pen"></span> Assignee
                        </a>
                    </button>
                </div> -->
                <div style="width:20%">
                <select class="form-select" id="assignee-name" name = "assignee-name">
                    <option></option>
                        <optgroup label="Available assignees">
                            {% for assignee in assignees %}
                                {% if assignee.status != "Occupied" %}
                                    <option value="{{assignee.username}}">{{assignee.username}}</option>
                                {% endif %}  
                            {% endfor %}     
                        </optgroup>
                    <optgroup label="Occupied assignees">
                        {% for assignee in assignees %}
                            {% if assignee.status == "Occupied" %}
                            <option selected disabled>{{assignee.username}}</option>
                            {% endif %}
                        {% endfor %} 
                    </optgroup>
                </select>
                </div>
                {% endif %}
                {% if user.usertype == 'assignee' or user.usertype == 'admin' %}
                    <!-- <button 
                        type="button" 
                        class="btn btn-sm" 
                    > 
                        <a href="/update-status/{{ticket.id}}" class="dropdown-item">
                            <span class="bi-pen"></span> Update Status
                        </a>
                    </button> -->
                    <div style="width:20%">
                        <select class="form-select" id="status-name" name = "status-name">
                            {% for status in statuses %}
                                <option value="{{status.status}}">{{status.status}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if user.usertype == 'assignee' %}
                    <div style="width:20%">
                        <button 
                            type="button" 
                            class="btn btn-sm" 
                        > 
                            <a href="/estimated-details/{{ticket.id}}" class="dropdown-item">
                                <span class="bi-pen"></span> Effort Estimation
                            </a>
                        </button>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class = "card-body">
                <div class = "card-text">
                    <h5>Customer Name: {{ticket.custname}}</h5>
                    <p>Requirement Title: {{ticket.title}}</p>
                    {% for ticketquestionmap in ticketquestionmaps %}
                        {% for question in questions %}
                            {% if question.id == ticketquestionmap.question_id %}
                                <p><b>{{question.question}}:</b>{{ticketquestionmap.value}}</p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% for ticketeffortmap in ticketeffortmaps %}
                        {% for effort in efforts %}
                            {% if effort.id == ticketeffortmap.effort_id %}
                                <p><b>{{effort.effort}}:</b>{{ticketeffortmap.value}}</p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <p>Assignee: {{ticket.assignee.username}}</p>
                    <p>Current Status: {{ticket.status}}</p>
                </div>
                <br>
                <div class="collapse" id="comments-{{ticket.id}}">
                    <div class="card">
                        <div class="card-body" id="comments-expanded-{{ticket.id}}">
                            {% for comment in comments %}
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <a href="/ticketsby/{{comment.User.username}}">{{comment.User.username}} ({{comment.User.usertype}})</a>:
                                    {% if comment.status == 'Deleted' %}
                                        <i>This message was deleted</i>
                                    {% else %}
                                        <span contenteditable="false" id="comment{{comment.id}}">{{comment.text}}</span>
                                    {% endif %}
                                </div>
                                <div>
                                    <small class="text-muted">
                                        {% if comment.status == 'Edited' %}
                                            <i id="editmsgflag{{comment.id}}">(Edited)</i>
                                        {% endif %}
                                            <i id="editmsg{{comment.id}}"></i>
                                        {{comment.date_created | humanize}}
                                    </small>
                                    {% if user.id == comment.author %}
                                    <div class = "btn-group" id="buttongroup{{comment.id}}">
                                        <button 
                                            type="button" 
                                            class="btn btn-sm" 
                                        > 
                                        <a href="/delete-comment/{{comment.id}}" class="dropdown-item">
                                            <span class="bi-trash"></span>
                                        </a>
                                        </button>
                                        {% if comment.status != 'Deleted' %}
                                        <button
                                            id="button{{comment.id}}"
                                            type="button" 
                                            class="btn btn-sm"
                                            comment_id="{{comment.id}}"
                                            onclick="editComment('{{comment.id}}')"
                                        >
                                        <span class="bi-pen" id="icon{{comment.id}}"></span>
                                        </button>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <p class ="card-text">
                    {% if ticket.comments|length > 0 %}
                    <a data-bs-toggle="collapse" href="#comments-{{ticket.id}}" role="button">
                        <small>View {{ticket.comments|length}} Comments</small>
                    </a>
                    {% else %}
                    <small class="text-muted">No Comments</small>
                    {% endif %}
                </p>    
                <form class="input-group mb-3" method="POST" action="/create-comment/{{ticket.id}}">
                    <input 
                        type="text" 
                        id="text" 
                        name="text" 
                        class="form-control" 
                        placeholder="Comment here"
                    />
                    <button type="submit" class="btn btn-dark">Comment</button>
                </form>
            </div>
            <div class = "card-footer text-muted">
                Created On: {{ticket.date_created}}
                <br>
                Last Modified: {{ticket.last_modified}}
            </div>
        </div>
        <br>
    </div>
    <script>
        $(document).ready(function() {
            $('#assignee-name').select2({
            placeholder:{ id:"", text:'Please select assignee'},
            allowClear:true,
            });
            $("#assignee-name").val("")  
            $("#assignee-name").trigger("change");
            $('#assignee-name').on('select2:select', function (e) {
                var data = e.params.data;
                const s = JSON.stringify(data.text);
                $.ajax({
                    url:"/assign-assignee/{{ticket.id}}",
                    type:"POST",
                    contentType: "application/json",
                    data: JSON.stringify(s)
                });
                window.location.reload()
            });
            $('#status-name').select2({
            placeholder:{ id:"", text:'Please select status'},
            allowClear:true,
            });
            $("#status-name").val("")  
            $("#status-name").trigger("change");
            $('#status-name').on('select2:select', function (e) {
                var data = e.params.data;
                const s = JSON.stringify(data.text);
                $.ajax({
                    url:"/update-status/{{ticket.id}}",
                    type:"POST",
                    contentType: "application/json",
                    data: JSON.stringify(s)
                });
                window.location.reload()
            });
        });
        function editComment(comment_id) 
        {
            var edittext = document.getElementById("comment"+comment_id);
            var button = document.getElementById("button"+comment_id);
            var icon = document.getElementById("icon"+comment_id);
            var editmsg = document.getElementById("editmsg"+comment_id);
            var editmsgflag = document.getElementById("editmsgflag"+comment_id);
            var textbox = document.createElement("textarea");
            var close = document.createElement("button");
            var curr = document.createElement("span");
            var btngroup = document.getElementById("buttongroup"+comment_id);
            var currtext = edittext.textContent;
            close.innerHTML = "<span class='bi-x-lg'></span>";
            icon.setAttribute("class","bi-save");
            curr.innerHTML = currtext;
            textbox.value=currtext;
            edittext.parentNode.replaceChild(textbox, edittext);
            btngroup.append(close);
            close.onclick = function() {
                icon.setAttribute("class","bi-pen");
                textbox.parentNode.replaceChild(curr,textbox);
                btngroup.removeChild(close);
            };
            button.onclick = function() {
                icon.setAttribute("class","bi-pen");
                var newtext = textbox.value;
                edittext.innerHTML = newtext;
                textbox.parentNode.replaceChild(edittext,textbox);
                const dict_values = {comment_id, newtext};
                const s = JSON.stringify(dict_values);
                $.ajax({
                    url:"/edit-comment/"+comment_id,
                    type:"POST",
                    contentType: "application/json",
                    data: JSON.stringify(s)
                });
                btngroup.removeChild(close);
            };
        }
    </script>
{% endblock %}