{% extends "base.html" %}
{% block title %} Ticket {{ticket.ticket_code}}{{ticket.id}}{% endblock %}
{% block content %}
<style>
    * {
        box-sizing: border-box;
    }
    .column {
        float: left;
        padding: 10px;
        height: 300px;
    }

    .left {
        width: 80%;
    }

    .right {
        width: 20%;

    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .people {

        border-radius: 10px;
        padding: 5px;
        margin: 5px;
        border: 1px solid grey;
        border-radius: 5px;
        background-color: rgb(235,235,235);

    }

    .width-50 {
        clear: none;
        float: left;
        width: 50%;

    }
    .width-20 {
        clear: none;
        float: left;
        width: 20%;

    }
    .width-30 {
        clear: none;
        float: left;
        width: 30%;

    }

    p {
        margin: 0
    }
</style>
<h1 align="center">{% block header %}{% endblock %}</h1>
<div id="tickets">
    <div>
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="ml-auto p-2"
                style=" font-size: 16px;  font-family: Verdana, Geneva, Tahoma, sans-serif; position: absolute; left: 10px; top:47px;">
                <b style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; font-size: 20px;">Ticket
                    #{{ticket.ticket_code}}{{ticket.id}}</b>
                <br>
                <!-- Created By: 
                {{ticket.author.username}} -->
                <!-- <a href="/ticketsby/{{ticket.author.username}}">
                </a> -->
            </div>
            {% if ticket.status != "Closed" and ticket.status != "Cancelled" %}
            <div class="btn-group">
                <button type="button" class="btn btn-sm"
                    style="background-color: rgb(235,235,235); position: absolute;top:0px; left:809px; border: 2px solid; font-size: 15px;">
                    <a href="/edit-ticket/{{ticket.id}}" class="dropdown-item">
                        <span class="bi-pen"> Edit Ticket</span>
                    </a>
                </button>
            </div>
            {% if user.id == ticket.author_id %}
            <div class="btn-group">
                <button type="button" class="btn btn-sm" 
                style="background-color: rgb(235,235,235); position: absolute;top:0px; right:320px;border: 2px solid; font-size: 15px; ">
                    <a href="/delete-ticket/{{ticket.id}}" class="dropdown-item">
                        <span class="bi-trash"> Delete Ticket</span>
                    </a>
                </button>
            </div>
            {% endif %}
           
            {% if user.usertype == 'assignee' or user.usertype == 'admin' %}
            {% if user.usertype == 'assignee' %}
            <div>
                <button type="button" class="btn btn-sm"
                    style="position: absolute; left:735px; top:56px; background-color: rgb(235,235,235); border: 2px solid;font-size: 15px;">
                    <a href="/estimated-details/{{ticket.id}}" class="dropdown-item">
                        <span class="bi-pen"> Effort Estimation</span>
                    </a>
                </button>
            </div>
            {% endif %}
            <div>
                <span style="position: absolute; left:565px;top:58px">
                    <select class="form-control" id="status-name" name="status-name">
                        {% for status in statuses %}
                            {% if status.status == "Closed" %}
                                {% if ticketeffortmaps %}
                                    <option value="{{status.status}}">{{status.status}}</option>
                                {% else %}
                                    <option value="{{status.status}}" title="Please Complete Effort Estimation" disabled>{{status.status}}</option>
                                {% endif %}
                            {% else %}
                            <option value="{{status.status}}">{{status.status}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </span>
            </div>
            {% if user.usertype == 'admin' %}
            <div>
                <span style="float: left; left: 740px; top: 58px; position: absolute;">
                    <select class="form-select" id="assignee-name" name="assignee-name">
                        <option></option>
                        <optgroup label="Available &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
                            {% for assignee in assignees %}
                            {% if assignee.status != "Occupied" %}
                            <option value="{{assignee.username}}">{{assignee.username}}</option>
                            {% endif %}
                            {% endfor %}
                        </optgroup>
                        <optgroup label="Occupied">
                            {% for assignee in assignees %}
                            {% if assignee.status == "Occupied" %}
                            <option selected disabled>{{assignee.username}}</option>
                            {% endif %}
                            {% endfor %}
                        </optgroup>
                    </select>
                </span>
            </div>
            {% endif %}
            {% endif %}
            {% else %}
            <button type="button" class="btn btn-sm" style="position:absolute;right:33px;top:56px;">
                <a href="/reopen-ticket/{{ticket.id}}" class="dropdown-item">
                    <span class="bi-door-open"></span> Reopen
                </a>
            </button>
            {% endif %}
        </div>

        <div class="row">
            <div class="column left">
                <div class="card-body">
                    <div class="card-text">

                        <div style="display: block; margin-left: -60px; width: 970px; margin-top: 27px; margin-bottom: -20px;" class="row">
                            <span class="people" style="float:left; width:1000px;">
                                <div
                                    style="font-size:16px; font-weight: bold; border: 1px solid grey; color: white; border-radius: 5px; background-color: #003E7F; padding: 7px; margin: -5px; margin-bottom: -15px; width: 970px; margin-left: -6px; margin-top: -6px;">
                                    <!-- <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" type="button"> -->
                                    Details
                                    <!-- </button>-->

                                </div>
                                <br>

                                <p style="font-size:14px;" class="width-50"><b>Customer Name:</b>{{ticket.custname}}</p>
                                <p style="font-size:14px;" class="width-20"><b>Region:</b> {{ticket.region}}</p>
                                
                                <p style="font-size:14px;" class="width-30"><b>Current Status: </b><b style="font-size:14px" class="badge {% if ticket.status == 'Opened' %} bg-primary {% elif ticket.status == 'Closed' %} bg-success {% else %} bg-warning {% endif %}">{{ticket.status}}</b></p>
                                <br>
                                <p style="font-size:14px;"><b>Requirement Title:</b> {{ticket.title}}</p>
                               
                               
                            </span>
                        </div>

                        <div class="row" style="display: block; margin-left: -50px; margin-top: -20px; width: 970px; margin-bottom: -20px;">
                            <a data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">


                                <div
                                    style="font-size:16px; font-weight: bold; border: 1px solid grey; color: white; border-radius: 5px; background-color: #003E7F; padding: 7px; margin: -5px; margin-bottom: -15px; width: 970px;">
                                    Questions
                                    <i class="bi-chevron-down"
                                        style="width:11px; height:11px; float: right; padding-top: 3px; margin-right: 7px; "></i>

                                </div>
                            </a>
                            <span
                                style="float:left; margin-top: -10px; margin-left: -5px; margin-right: -5px; padding-right: 10px;"
                                id="collapseTwo" class="collapse people">
                                {% for question in questions %}
                                {% for ticketquestionmap in ticketquestionmaps %}
                                {% if question.id == ticketquestionmap.question_id %}

                                <pre style="white-space:pre-wrap;font-family: 'Assistant', sans-serif;"><b>{{question.question}}</b><br>{{ticketquestionmap.value}}</pre>

                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                            </span>
                        </div>

                        <div class="row" style="display: block; margin-left: -50px; margin-right: -20px; width: 970px;">
                            <a data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true"
                                aria-controls="collapseThree">

                                <div
                                    style="font-size:16px; font-weight: bold; border: 1px solid grey; color: white; border-radius: 5px; background-color: #003E7F; padding: 7px; margin: -5px; margin-bottom: -15px;  width: 970px;">
                                    Estimation Details
                                    <i class="bi-chevron-down"
                                        style="width:11px; height:11px; float: right; padding-top: 3px; margin-right: 7px; "></i>
                                </div>
                            </a>
                            <span style="float:left; margin-top: -10px; margin-left: -5px; "
                                id="collapseThree" class="collapse people">
                                {% for effort in efforts %}
                                {% for ticketeffortmap in ticketeffortmaps %}
                                {% if effort.id == ticketeffortmap.effort_id %}
                                <pre style="white-space:pre-wrap;font-family: 'Assistant', sans-serif;"><b>{{effort.effort}}:<br></b>{{ticketeffortmap.value}}</pre>
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                            </span>
                        </div>
                    </div>

                    <div class="row" style="display: block; margin-left: -60px; width: 970px; ">
                        <span class="people" style="float:left;">
                            <div
                                style="font-size:16px; font-weight: bold; border: 1px solid grey; color: white; border-radius: 5px; background-color: #003E7F; padding: 7px; margin: -5px; margin-bottom: -15px; margin-right: -6px; margin-left: -6px; margin-top: -6px; width: 970px;">
                                Comments</div>
                            <br>
                            {% if ticket.status != "Closed" and ticket.status != "Cancelled" %}
                            <form class="input-group mb-3" method="POST" action="/create-comment/{{ticket.id}}">
                                <textarea type="text" id="text" name="text" class="form-control"
                                    placeholder="Comment here"></textarea>
                                <button type="submit" class="btn" style="background-color: #003E7F; color:white;">Comment</button>
                            </form>
                            {% endif %}
                            <p class="card-text">
                                {% if ticket.comments|length > 0 %}
                                <a data-bs-toggle="collapse" href="#comments-{{ticket.id}}" role="button">
                                    <small id="comment_toggle">Hide {{ticket.comments|length}} Comments</small>
                                </a>
                                {% else %}
                                <small class="text-muted">No Comments</small>
                                {% endif %}
                            </p>
                            <div class="collapse show" id="comments-{{ticket.id}}" >
                                <div class="card" >
                                    <div class="card-body" id="comments-expanded-{{ticket.id}}">
                                        {% for comment in comments %}
                                        <div class="d-flex justify-content-between align-items-center" >
                                            <div>
                                                {% if comment.status == 'Edited' %}
                                                <small style="color:rgb(150, 150, 150)"><i>{{comment.User.username}} ({{comment.User.usertype}}) edited a
                                                    comment - {{comment.date_created | humanize}} ({{comment.date_created}})</i></small>
                                                <br>
                                                <pre contenteditable="false"
                                                    id="comment{{comment.id}}" style="white-space:pre-wrap;font-family: 'Assistant', sans-serif;">{{comment.text}}</pre>
                                                {% else %}
                                                <small style="color:rgb(150, 150, 150)"><i>{{comment.User.username}} ({{comment.User.usertype}}) added a
                                                    comment - {{comment.date_created | humanize}} ({{comment.date_created}})</i></small>
                                                {% if comment.status == 'Deleted' %}
                                                <br>
                                                <small><i>This message was deleted</i></small>
                                                {% else %}
                                                <br>
                                                <pre contenteditable="false"
                                                    id="comment{{comment.id}}" style="white-space:pre-wrap;font-family: 'Assistant', sans-serif;">{{comment.text}}</pre>
                                                {% endif %}
                                                {% endif %}
                                            </div>
                                            <div>
                                                {% if user.id == comment.author %}
                                                <div class="btn-group" id="buttongroup{{comment.id}}">
                                                    <button type="button" class="btn btn-sm">
                                                        <a href="/delete-comment/{{comment.id}}" class="dropdown-item">
                                                            <span class="bi-trash"></span>
                                                        </a>
                                                    </button>
                                                    {% if comment.status != 'Deleted' %}
                                                    <button id="button{{comment.id}}" type="button" class="btn btn-sm"
                                                        comment_id="{{comment.id}}"
                                                        onclick="editComment('{{comment.id}}')">
                                                        <span class="bi-pen" id="icon{{comment.id}}"></span>
                                                    </button>
                                                    {% endif %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <hr class="solid">
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                </span>

                <div class="row" style="display: block; margin-left: -50px; margin-right: -20px; width:970px">
                    <a data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true"
                        aria-controls="collapseFour">
                        <div
                            style="font-size:16px; font-weight: bold; border: 1px solid grey; color: white; border-radius: 5px; background-color: #003E7F; padding: 7px; margin: -5px; margin-bottom: -15px; width: 970px;">
                            Attachments
                            <i class="bi-chevron-down"
                                        style="width:11px; height:11px; float: right; padding-top: 3px; margin-right: 7px; "></i>
                        </div>
                    </a>
                    <span style="float:left;  margin-top: -10px; margin-left: -5px;  margin-bottom: 30px;" id="collapseFour"
                        class="collapse people container">
                        <form method="post" action="/attach-file/{{ticket.id}}" enctype="multipart/form-data">
                            <dl>
                                <p>
                                <div class="input-group mb-3">
                                    {% if ticket.status != "Closed" and ticket.status != "Cancelled" %}
                                    <input type="file" name="upload" class="form-control" autocomplete="off" required>
                                    <div class="input-group-append">
                                        <input style="background-color: #003E7F; color:white;" type="submit" value="Submit" class="btn btn-info">
                                    </div>
                                    {% endif %}
                                </div>
                                </p>
                            </dl>
                        </form>



                        {% for file in files_list %}
                        {% if file.2 =="image/jpeg" or file.2=="image/png" %}
                        <a href = "/display-image/{{file.1}}"><img width="200" height="200" id= "image{{file.1}}" src="data:image/png;base64, {{file.0}}"/></a>
                        {% if ticket.status != "Closed" and ticket.status != "Cancelled" %}
                        <button type="button" class="btn btn-sm">
                            <a href="/delete-file/{{file.1}}" class="dropdown-item">
                                <span class="bi-x-lg"></span>
                            </a>
                        </button>
                        {% endif %}
                        <button type="button" class="btn btn-sm">
                            <a href="/download-file/{{file.1}}" class="dropdown-item">
                                <span class="bi-download"></span>
                            </a>
                        </button>
                        {% endif %}
                        {% endfor %}
                        <br>

                        {% for file in files_list %}
                        {% if file.2 !="image/jpeg" and file.2 != "image/png" %}
                        {{file.0}}
                        {% if ticket.status != "Closed" and ticket.status != "Cancelled" %}
                        <button type="button" class="btn btn-sm">
                            <a href="/delete-file/{{file.1}}" class="dropdown-item">
                                <span class="bi-x-lg"></span>
                            </a>
                        </button>
                        {% endif %}
                        <button type="button" class="btn btn-sm">
                            <a href="/download-file/{{file.1}}" class="dropdown-item">
                                <span class="bi-download"></span>
                            </a>
                        </button>
                        {% endif %}
                        {% endfor %}
                        <br>

                    </span>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="column right">

                <div class="people" style="margin-left:15px; margin-right: -40px; margin-top: 31px; width: 250px;">
                    <div
                        style="font-size:16px; font-weight: bold; border: 1px solid grey; color: white; border-radius: 5px; background-color: #003E7F; padding: 7px; margin: -5px; margin-bottom: -15px; margin-right: -6px; margin-left: -6px; margin-top: -6px;">
                        People</div>

                    <div class="ml-auto p-2" style="margin-top:10px">
                        <b style="font-size:14px;">Reported By:</b><br><img src="https://img.icons8.com/material-sharp/24/000000/person-male.png"
                            height="20px" style="opacity: 0.5;float: left;" /><div style="font-size:14px;">{{ticket.author.username}}</div>
                        <b style="font-size:14px;"> Assignee:</b><br><img src="https://img.icons8.com/material-sharp/24/000000/person-male.png"
                            height="20px" style="opacity: 0.5;float: left;" /> <div style="font-size:14px;">{{ticket.assignee.username}}</div><br>
                    </div>
                </div>

                <div class="people" style="margin-top: 10px; margin-left:15px; margin-right: -40px; width: 250px;">
                    <div
                        style="font-size:16px; font-weight: bold; border: 1px solid grey; color: white; border-radius: 5px; background-color: #003E7F; padding: 7px; margin: -5px; margin-bottom: -15px; margin-right: -6px; margin-left: -6px; margin-top: -6px;">
                        Dates</div>

                    <div class="ml-auto p-2" style="margin-top: 10px;">
                        <b style="font-size:14px;" >Created On:</b> <br><div style="font-size:14px;">{{ticket.date_created}}</div>
                        <b  style="font-size:14px;">Assigned On:</b><br> <div style="font-size:14px;">{{ticket.date_assigned}}</div>
                        {% if ticket.status == "Closed" %}
                        <b  style="font-size:14px;">Closed On:</b> <br><div style="font-size:14px;">{{ticket.date_closed}}</div>
                        {% endif %}
                        <b  style="font-size:14px;">Last Modified On:</b><br> <div style="font-size:14px;">{{ticket.last_modified}}</div>

                    </div>
                </div>
            </div>
        </div>
        <script>

            document.addEventListener("DOMContentLoaded", function(event) { 
				var scrollpos = localStorage.getItem('scrollpos');
				if (scrollpos) window.scrollTo(0, scrollpos);
			});
	
			window.onbeforeunload = function(e) {
				localStorage.setItem('scrollpos', window.scrollY);
			};
            $(document).ready(function () {
                var toggletext = document.getElementById("comment_toggle");
                $("#comments-{{ticket.id}}").each(function() {
                    if (localStorage.getItem("coll_" + this.id) == "false") {
                        toggletext.innerHTML = "View {{ticket.comments|length}} Comments";
                        $(this).collapse("hide");
                    }
                });
                
                $('#comments-{{ticket.id}}').on("hidden.bs.collapse", function() {
                    localStorage.setItem("coll_" + this.id, false);
                    toggletext.innerHTML = "View {{ticket.comments|length}} Comments";
                });
                $('#comments-{{ticket.id}}').on("shown.bs.collapse", function() {
                    localStorage.setItem("coll_" + this.id, true);
                    toggletext.innerHTML = "Hide {{ticket.comments|length}} Comments";
                });
                $('#assignee-name').select2({
                    placeholder: { id: "", text: 'Select Assignee' },
                    allowClear: true,
                    dropdownAutoWidth : true,
                    width: 'auto',
                    minimumResultsForSearch: 3
                });
                $("#assignee-name").val("")
                $("#assignee-name").trigger("change");
                $('#assignee-name').on('select2:select', function (e) {
                    var data = e.params.data;
                    const s = JSON.stringify(data.text);
                    $.ajax({
                        url: "/assign-assignee/{{ticket.id}}",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(s)
                    });
                    window.location.reload()
                });
                $('#status-name').select2({
                    placeholder: { id: "", text: 'Select Status' },
                    allowClear: true,
                    dropdownAutoWidth : true,
                    minimumResultsForSearch: -1
                    //width: auto
                });
                $("#status-name").val("")
                $("#status-name").trigger("change");
                $('#status-name').on('select2:select', function (e) {
                    var data = e.params.data;
                    const s = JSON.stringify(data.text);
                    $.ajax({
                        url: "/update-status/{{ticket.id}}",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(s)
                    });
                    location.reload();
                });
            });
            function editComment(comment_id) {
                var edittext = document.getElementById("comment" + comment_id);
                var button = document.getElementById("button" + comment_id);
                var icon = document.getElementById("icon" + comment_id);
                var editmsg = document.getElementById("editmsg" + comment_id);
                var editmsgflag = document.getElementById("editmsgflag" + comment_id);
                var textbox = document.createElement("textarea");
                var height = edittext.innerHTML.split('\n').length;
                textbox.setAttribute("rows",height);
                textbox.setAttribute("cols","110");
                var close = document.createElement("button");
                var curr = document.createElement("pre");
                var btngroup = document.getElementById("buttongroup" + comment_id);
                var currtext = edittext.textContent;
                close.innerHTML = "<span class='bi-x-lg'></span>";
                icon.setAttribute("class", "bi-save");
                curr.setAttribute("style", "white-space:pre-wrap;font-family: 'Assistant', sans-serif;")
                curr.innerHTML = currtext;
                textbox.value = currtext;
                edittext.parentNode.replaceChild(textbox, edittext);
                btngroup.append(close);
                close.onclick = function () {
                    icon.setAttribute("class", "bi-pen");
                    textbox.parentNode.replaceChild(curr, textbox);
                    btngroup.removeChild(close);
                    location.reload();
                };
                button.onclick = function () {
                    icon.setAttribute("class", "bi-pen");
                    var newtext = textbox.value;
                    edittext.innerHTML = newtext;
                    textbox.parentNode.replaceChild(edittext, textbox);
                    const dict_values = { comment_id, newtext };
                    const s = JSON.stringify(dict_values);
                    $.ajax({
                        url: "/edit-comment/" + comment_id,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(s)
                    });
                    btngroup.removeChild(close);
                    location.reload();
                };
            }
        </script>
        
        {% endblock %}