{% extends "base.html" %} {% block title %} Dashboard {% endblock %} {% block
content %}
<br />
<h2 align="center"><b>Dashboard</b></h2>
<div class="col-xs-10 col-sm-6 col-md-6">
	<div class="card card-style mb-2">
		<div class="card-body shadow">
			<div class="chart-container" style="position: relative">
				<canvas id="myChart" width="400" height="400"></canvas>
			</div>
		</div>
	</div>
</div>
<script>
	    count_vs_status = JSON.parse( {{count_vs_status|tojson}} );
        statuses =[];
        counts=[];
        for(ele of count_vs_status)
        {
            statuses.push(ele[1]);
            counts.push(ele[0]);
        }
		maxval = Math.max(...counts);
		stepSize = Math.ceil(maxval/5);
	    const ctx = document.getElementById('myChart').getContext('2d');
	    const myChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: statuses,
	        datasets: [{
	            label: '# of Tickets',
	            data: counts,
	            borderWidth: 1,
                backgroundColor: [
              'rgba(255, 99, 132, 0.8)',
              'rgba(54, 162, 235, 0.8)',
              'rgba(255, 206, 86, 0.8)',
              'rgba(75, 192, 192, 0.8)',
              'rgba(153, 102, 255, 0.8)',
              'rgba(255, 159, 64, 0.8)',
              'rgba(255, 99, 132, 0.8)',
              'rgba(54, 162, 235, 0.8)',
              'rgba(255, 206, 86, 0.8)',
              'rgba(75, 192, 192, 0.8)',
              'rgba(153, 102, 255, 0.8)',
              'rgba(255, 159, 64, 0.8)'
            	],
				barPercentage: 0.5
	        }]
	    },
	    options: {
			plugins: {
            title: {
                display: true,
                text: "Summary Report for Total Ticket Count per Status"
            }
        },
          legend: { display: true },
          responsive: true,
          maintainAspectRatio: true,
          aspectRatio: 3,
          scales: {
			y: {
				title: {
          			display: true,
          			text: 'Count'
       	 		},
				min: 0,
				max: maxval+1,
				beginAtZero:true,
				ticks:{
					stepSize:stepSize
				}
			},
			x:{
				title: {
          			display: true,
          			text: 'Status'
       	 		}
			}
		},
          tooltips: { enabled: true}
	    }
		});
</script>

{% endblock %}
