{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<style>
  .table>tbody>tr:nth-of-type(odd) {  
   background-color:#C9E5EF;  
}  
   
    
</style>
<br>
<br>
<div class = "container">
    <table class = "table" id="myTable" class="table table-striped">
        <thead >
            <tr style="background-color: #003E7F; color: white;" >
                <th>Ticket ID</th>        
                <th>Customer Name</th>
                <th>Created By</th>
                <th>Created on</th>
                <th>Last Modified</th>
                <th>Assignee</th>
                <th>Current Status</th>
            </tr>
        </thead>
        <tbody>
          {% for ticket in tickets %}
              <tr>
                  <td><a href="/tickets/{{ticket.id}}">{{ticket.id}}</a></td>
                  <td>{{ticket.custname}}</td>
                  <td>{{ticket.author.username}}</td>
                  <td>{{ticket.date_created}}</td>
                  <td>{{ticket.last_modified}}</td>
                  <td>{% if ticket.assignee_id %}
                        {{ticket.assignee.username}}
                      {% else %}
                        Not Assigned
                      {% endif %}
                  </td>
                  <td>{{ticket.status}}</td>
              </tr>
          {% endfor %}
         </tbody>  
    </table>
</div>
<br>
<div class = "container">
    <table class = "table" id="myTable2">
        <thead >
            <tr style="background-color: #003E7F; color: white;" >
                <th>ID</th>        
                <th>Ticket Status</th>
                <th>Alert Subject</th>
                <th>Alert Body</th>
                <th>Recipients</th>
                <th>Sent On</th>
            </tr>
        </thead>    
        <tbody>
            {% for alertaudit in alertaudits %}
                <tr>
                    <td>{{alertaudit.id}}</td>
                    <td>{{alertaudit.ticket_status}}</td>
                    <td>{{alertaudit.alert_subject}}</td>
                    <td>{{alertaudit.alert_body}}</td>
                    <td>{{alertaudit.recipients}}</td>
                    <td>{{alertaudit.sent_on}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 
<script>
    $(document).ready( function () {
        $('#myTable').DataTable(); 
        $('#myTable2').DataTable();  
        var x = document.getElementById("home");
        x.setAttribute("class","nav-item nav-link active");
  } );
</script>
{% block footer %}
    {% if user.usertype == 'reporter' %}
    <div align="center">
        <a href="/create-ticket">
            <button type="button" class="btn btn-info lg" style="background-color: #0d6efd;">
                Create New Ticket
            </button>
        </a>
    </div>
    {% endif %}
    {% endblock %}
{% endblock %}