{% extends "base.html" %}
{% block title %} Edit Ticket {% endblock %}
{% block content %}
<h1 align="center"> Edit Ticket </h1>
<form method='POST'>
    <div align='center' class="form-group">
        <label for="custname">Customer Name:</label>
        <input 
            type="text" 
            id = "custname"
            name = "custname" 
            class = "form-control"
            value = "{{ticket.custname}}"
        />
        <br>
    <label for="title">Requirement Title:</label>
        <input 
            type="text" 
            id = "title"
            name = "title" 
            class = "form-control"
            value = "{{ticket.title}}"
        />
    <br>
    {% if user.usertype != "reporter" %}
        {% for ticketquestionmap in ticketquestionmaps %}
            {% for question in questions %}
                {% if question.id == ticketquestionmap.question_id %}
                    <label for="q{{question.id}}">{{question.question}}</label>
                    <input 
                        type="text" 
                        id = "q{{question.id}}"
                        name = "q{{question.id}}" 
                        class = "form-control"
                        value = "{{ticketquestionmap.value}}"
                    />
                {% endif %}
                <br>
            {% endfor %}
        {% endfor %}
        <label for="status">Status</label>
            <select class="form-select" id="status" name = "status">
                {% for status in statuses %}
                    <option value="{{status.status}}">{{status.status}}</option>
                {% endfor %}
            </select>
        <br>
        {% for ticketeffortmap in ticketeffortmaps %}
            {% for effort in efforts %}
                {% if effort.id == ticketeffortmap.effort_id %}
                    <label for="e{{effort.id}}">{{effort.effort}}</label>
                    <input 
                        type="text" 
                        id = "e{{effort.id}}"
                        name = "e{{effort.id}}" 
                        class = "form-control"
                        value = "{{ticketeffortmap.value}}"
                    />
                    <br>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
        <button type="submit" class="btn btn-lg btn-dark">Edit</button>
    </div>
</form>
<br>
<div align="center"><button onclick="javascript:history.back()" class="btn btn-lg btn-dark">Cancel</button></div>
<br>
{% endblock %}