{% extends "base.html" %}
{% block title %} Effort Estimation {% endblock %}
{% block content %}
<br>
<form method='POST'>
    <div style="float: left;"><button onclick="javascript:history.back()" type="button" class="btn btn-secondary">&laquo; Back</button></div>
    <div align="right"><button class="btn btn-info">Update</button></div>
    <br>

    <div style="border: 1px solid grey; border-radius: 5px; background-color: #C9E5EF; padding : 5px; ">
        <div style="border : 1px solid grey ;color: white; border-radius: 5px; background-color: #003E7F; padding:10px">
            Estimation Fields
        </div>
        <br>
        {% for effort in efforts %}
            {% for ticketeffortmap in ticketeffortmaps %}
                {% if effort.id == ticketeffortmap.effort_id %}
                    <b><label for="e{{effort.id}}">{{effort.effort}}</label></b>
                    <textarea type="text" id="e{{effort.id}}" name="e{{effort.id}}" class="form-control">{% if ticketeffortmap.value == None %}{% else %} {{ticketeffortmap.value}}{% endif %}</textarea>
                    <br>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    </div>
</form>
<br>
{% endblock %}