{% extends "base.html" %}
{% block title %} Forgot Password{% endblock %}
{% block content %}
<style>
    body{
        background-color: rgb(244, 244, 244);  
    }
  
</style>
<form method="POST">
<br>
  
  
         <div class="container py-5 h-50">
           <div class="row d-flex justify-content-center align-items-center h-100">
             <div class="col-12 col-md-8 col-lg-6 col-xl-5" style="margin-top: -27px">
               <div class="card shadow" style="border-radius: 1rem; margin-top: -10px;">
                 <div class="card-body p-5 text-center">
       
                  <h4 class="mb-5" style="margin-top:-25px;"><b>Reset Password</b></h4>
       
                  <div class="form-outline mb-4" style="margin-top: -30px;">
                     
                    
                   
        <label for="email" class="form-label">Username<span style="color:red">*</span></label>
        <input 
            type="text" 
            id = "username" 
            name = "username" 
            class = "form-control"
            placeholder = "Enter Username"
        />
        <label for="password1" class="form-label">Password<span style="color:red">*</span></label>
        <input 
            type="password" 
            id = "password1" 
            name = "password1" 
            class = "form-control"
            placeholder = "Enter New Password"
        />
        <label for="password2" class="form-label">Password Again<span style="color:red">*</span></label>
        <input 
            type="password" 
            id = "password2" 
            name = "password2" 
            class = "form-control"
            placeholder = "Enter New Password Again"
        />
       
                   </div>
       
                  
                   
       
                   <button class="btn  btn-lg btn-block" style="background-color:#24A0ED; color: white;" type="submit">Reset</button>
                 
       
                 
       
                 </div>
               </div>
             </div>
           </div>
         </div>
       
    
 </form>

{% endblock %}