{% extends "base.html" %}
{% block title %} Master Effort Estimation Fields{% endblock %}
{% block content %}
<style>
    .table>tbody>tr:nth-of-type(odd) {  
     background-color:#C9E5EF;  
  }  
     
      
  </style>
<body>
    <br>
    <div align='center'>
        <a href="/master-ticketcode-home"><button type="button" class="btn btn-primary">Ticket Code</button></a>
        <a href="/master-question-home"><button type="button" class="btn btn-primary">Questionaires</button></a>
        <a href="/master-status-home"><button type="button" class="btn btn-primary">Ticket Statuses</button></a>
        <a href="/master-effort-home"><button type="button" class="btn btn-success" style="background-color: #003E7F;">Effort Estimation Fields</button></a>
        <a href="/master-alert-home"><button type="button" class="btn btn-primary">Alert Configuration</button></a>
        <a href="/master-reset-home"><button type="button" class="btn btn-primary">Reset Database</button></a>
    </div>
    <br>
    <div class="container">   
        <div class="form-group">  
             <form name="add_effort" id="add_effort">  
                  <div class="table-responsive">
                       <table class="table" id="dynamic_field" style = "background-color: #08a5df; border-radius:15px;">  
                            <tr>  
                                <td style="width:89%"><input type="text" name="effort" placeholder="Enter Estimation Field" class="form-control name_list"/></td>  
                                <td><button type="button" name="add" id="add" class="btn btn-success" style="background-color: #003E7F;">Add Field</button></td>  
                            </tr>  
                       </table>  
                  </div>  
             </form>  
        </div>  
    </div>
    <div class="container">
        <table class = "table" id="myTable">
            <thead class = "thead-light">
                <tr style="background-color: #003E7F; color: white;">
                    <th>Effort ID</th>        
                    <th>Effort</th>
                    <th>Created On</th>
                    <th>Created By</th>
                    <th></th>
                </tr>
            </thead>
        <tbody>
            {% for effort in efforts %}
                <tr>
                    <td>{{effort.id}}</a></td>
                    <td>{{effort.effort}}</td>
                    <td>{{effort.date_created}}</td>
                    <td>{% if effort.author_id %} {{ effort.author.username }} {%else%} Default {%endif%}</td>
                    <td><a href="/delete-effort/{{effort.id}}"><button type="button" class="btn btn-danger"><span class="bi-trash"></span></button></a></td>
                </tr>
            {% endfor %}
        </tbody>  
    </table>
   </div>
   <script>  
    $(document).ready(function(){ 
        $('#myTable').DataTable();  
        $('#add').click(function(){  
                $.ajax({  
                    url:"/master-effort",  
                    method:"POST",  
                    contentType: "application/json",
                    data: JSON.stringify($('#add_effort').serializeArray()),
                });
                window.location.href = "/master-effort-home"; 
            });
        });
    </script>
    <br>
</body>
{% endblock %}   