{% extends "base.html" %}
{% block title %} Master Effort Estimation Fields{% endblock %}
{% block content %}
<style>
    .table>tbody>tr:nth-of-type(odd) {  
     background-color:#C9E5EF;  
  }  
     
      
  </style>
<body>
    <br>
    <div align='center'>
        <a href="/master-ticketcode-home"><button type="button" class="btn btn-primary">Ticket Code</button></a>
        <a href="/master-logo-home"><button type="button" class="btn btn-primary">Logo Upload</button></a>
        <a href="/master-question-home"><button type="button" class="btn btn-primary">Questionaires</button></a>
        <a href="/master-status-home"><button type="button" class="btn btn-primary">Ticket Statuses</button></a>
        <a href="/master-effort-home"><button type="button" class="btn btn-success" style="background-color: #003E7F;">Effort Estimation Fields</button></a>
        <a href="/master-alert-home"><button type="button" class="btn btn-primary">Alert Configuration</button></a>
        <a href="/master-reset-home"><button type="button" class="btn btn-primary">Reset Database</button></a>
    </div>
    <br>
    <div class="container">   
        <div class="form-group">  
             <form name="add_effort" id="add_effort">  
                  <div class="table-responsive">
                       <table class="table" id="dynamic_field" style = "background-color: #08a5df; border-radius:15px;">  
                            <tr>  
                                <td style="width:89%"><input type="text" name="effort" placeholder="Enter Estimation Field" class="form-control name_list"/></td>  
                                <td><button type="button" name="add" id="add" class="btn btn-success" style="background-color: #003E7F;">Add Field</button></td>  
                            </tr>  
                       </table>  
                  </div>  
             </form>  
        </div>  
    </div>
    <div class="container">
        <table class = "table" id="myTable">
            <thead class = "thead-light">
                <tr style="background-color: #003E7F; color: white;">
                    <th style = "font-size: 15px;">Effort ID</th>        
                    <th style = "font-size: 15px;">Effort</th>
                    <th style = "font-size: 15px;">Created On</th>
                    <th style = "font-size: 15px;">Created By</th>
                    <th></th>
                </tr>
            </thead>
        <tbody>
            {% for effort in efforts %}
                <tr>
                    <td>{{effort.id}}</a></td>
                    <td><p id="effort{{effort.id}}">{{effort.effort}}</p></td>
                    <td>{{effort.date_created}}</td>
                    <td>{% if effort.author_id %} {{ effort.author.username }} {%else%} Default {%endif%}</td>
                    <td>{% if effort.effort != "Total Effort(Hours)" and effort.effort != "Total Cost($)"  %}
                        <div class="btn-group" id="buttongroup{{effort.id}}">
                            <button type="button" id="button{{effort.id}}" class="btn btn-danger" onclick="editEffort('{{effort.id}}')"><span class="bi-pen" id="icon{{effort.id}}"></span></button>
                            <button type="button" class="btn btn-danger"><a href="/delete-effort/{{effort.id}}" class="dropdown-item"><span class="bi-trash"></span></a></button>
                        </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>  
    </table>
   </div>
   <script>
    function editEffort(effort_id) {
                var edittext = document.getElementById("effort" + effort_id);
                var button = document.getElementById("button" + effort_id);
                var icon = document.getElementById("icon" + effort_id);
                var textbox = document.createElement("textarea");
                var close = document.createElement("button");
                var curr = document.createElement("p");
                var btngroup = document.getElementById("buttongroup" + effort_id);
                var currtext = edittext.textContent;
                close.setAttribute("class","btn btn-danger");
                close.innerHTML = "<span class='bi-x-lg'></span>";
                icon.setAttribute("class", "bi-save");
                curr.innerHTML = currtext;
                textbox.value = currtext;
                edittext.parentNode.replaceChild(textbox, edittext);
                btngroup.append(close);
                close.onclick = function () {
                    icon.setAttribute("class", "bi-pen");
                    textbox.parentNode.replaceChild(curr, textbox);
                    btngroup.removeChild(close);
                };
                button.onclick = function () {
                    icon.setAttribute("class", "bi-pen");
                    var newtext = textbox.value;
                    edittext.innerHTML = newtext;
                    textbox.parentNode.replaceChild(edittext, textbox);
                    const dict_values = { effort_id, newtext };
                    const s = JSON.stringify(dict_values);
                    $.ajax({
                        url: "/edit-effort/" + effort_id,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(s)
                    });
                    btngroup.removeChild(close);
                };
            }
    $(document).ready(function(){ 
        var navele = document.getElementById('navmaster');
	    navele.setAttribute("style","padding-left:25px; color: white; font-weight: bold;");
        $('#myTable').DataTable();  
        $('#add').click(function(){  
                $.ajax({  
                    url:"/master-effort",  
                    method:"POST",  
                    contentType: "application/json",
                    data: JSON.stringify($('#add_effort').serializeArray()),
                });
                window.location.href = "/master-effort-home"; 
            });
        });
    </script>
    <br>
</body>
{% endblock %}   