{% extends "base.html" %}
{% block title %} Master Questionaire {% endblock %}
{% block content %}
<body>
    <br>
    <div align='center'>
        <a href="/master-question-home"><button type="button" class="btn btn-success">Questionaires</button></a>
        <a href="/master-status-home"><button type="button" class="btn btn-primary">Ticket Statuses</button></a>
        <a href="/master-effort-home"><button type="button" class="btn btn-primary">Effort Estimation Fields</button></a>
        <a href="/master-alert-home"><button type="button" class="btn btn-primary">Alert Configuration</button></a>
        <a href="/master-dbreset"><button type="button" class="btn btn-primary">Reset Database</button></a>
    </div>
    <br>
    <div class="container">    
        <div class="form-group">  
             <form name="add_question" id="add_question">  
                  <div class="table-responsive">
                       <table class="table table-bordered" id="dynamic_field">  
                            <tr>  
                                 <td style="width:86%"><input type="text" name="Question" placeholder="Enter Question" class="form-control name_list"/></td>  
                                 <td><button type="button" name="add" id="add" class="btn btn-success">Save Question</button></td>  
                            </tr>  
                       </table>  
                  </div>  
             </form>  
        </div>  
    </div>
    <div class="container">
        <table class = "table" id="myTable">
            <thead class = "thead-light">
                <tr>
                    <th>Question ID</th>        
                    <th>Question</th>
                    <th>Created On</th>
                    <th>Created By</th>
                    <th></th>
                </tr>
            </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{question.id}}</a></td>
                    <td>{{question.question}}</td>
                    <td>{{question.date_created}}</td>
                    <td>{{user.username}}</td>
                    <td><a href="/delete-question/{{question.id}}"><button>Delete</button></a></td>
                </tr>
            {% endfor %}
        </tbody>  
    </table>
   </div>
   <script>  
    $(document).ready(function(){ 
        $('#myTable').DataTable();  
        $('#add').click(function(){  
                $.ajax({  
                    url:"/master-question",  
                    method:"POST",  
                    contentType: "application/json",
                    data: JSON.stringify($('#add_question').serializeArray()),
                });
                window.location.href = "/master-question-home"; 
            });
        });
    </script>
</body>
{% endblock %}   