{% extends "base.html" %}
{% block title %} Master Reset{% endblock %}
{% block content %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    .table>tbody>tr:nth-of-type(odd) {  
     background-color:#C9E5EF;  
  }  
</style>
<body>
    <br>
    <div align='center'>
        <a href="/master-ticketcode-home"><button type="button" class="btn btn-primary">Ticket Code</button></a>
        <a href="/master-status-home"><button type="button" class="btn btn-primary">Ticket Statuses</button></a>
        <a href="/master-question-home"><button type="button" class="btn btn-primary">Questionnaire</button></a>
        <a href="/master-effort-home"><button type="button" class="btn btn-primary">Effort Estimation Fields</button></a>
        <a href="/master-alert-home"><button type="button" class="btn btn-primary">Alert Configuration</button></a>
        <a href="/master-logo-home"><button type="button" class="btn btn-primary">Logo Upload</button></a>
        <a href="/master-reset-home"><button type="button" class="btn btn-success" style="background-color: #003E7F;">Reset Database</button></a>
    </div>
    <br>
    <div align = "center" class="container">   
        <a href="/master-reset" id="deletebtn"><button type="button" class="btn btn-lg btn-danger">Reset Database</button></a>
    </div>
    <div class="container">
        <table class = "table" id="myTable">
            <thead class = "thead-light">
                <tr style="background-color: #003E7F; color: white;">
                    <th style = "font-size: 15px;">ID</th>        
                    <th style = "font-size: 15px;">Reset By</th>
                    <th style = "font-size: 15px;">Reset On</th>
                </tr>
            </thead>
        <tbody>
            {% for reset in resets %}
                <tr>
                    <td>{{reset.id}}</a></td>
                    <td>
                        {% for admin in admins %}
                            {% if admin.id == reset.reset_by %}
                                {{admin.username}}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{reset.reset_on}}</td>
                </tr>
            {% endfor %}
        </tbody>  
    </table>
   </div>
</body>
<script> 
    var navele = document.getElementById('navmaster');
	navele.setAttribute("style","padding-left:25px; color: white; font-weight: bold;");
    $("#deletebtn").on('click',function(e){
        e.preventDefault();
        var self = $(this);
        console.log(self.data('title'));
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Reset'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                'Database Rest',
                'Your Database has been reset.',
                'success'
                )
                location.href = self.attr('href');
            }
        })
    });
    $(document).ready(function(){ 
        $('#myTable').DataTable();  
    });
</script>
{% endblock %}   