{% extends "base.html" %}
{% block title %} Master Ticket Statuses {% endblock %}
{% block content %}
<style>
    .table>tbody>tr:nth-of-type(odd) {
        background-color: #C9E5EF;
    }
</style>

<body>
    <br>
    <div align='center'>
        <a href="/master-ticketcode-home"><button type="button" class="btn btn-primary">Ticket Code</button></a>
        <a href="/master-status-home"><button type="button" class="btn btn-primary">Ticket Statuses</button></a>
        <a href="/master-question-home"><button type="button" class="btn btn-primary">Questionnaire</button></a>
        <a href="/master-effort-home"><button type="button" class="btn btn-primary">Effort Estimation Fields</button></a>
        <a href="/master-alert-home"><button type="button"class="btn btn-success" style="background-color: #003E7F;">Alert Configuration</button></a>
        <a href="/master-logo-home"><button type="button" class="btn btn-primary">Logo Upload</button></a>
        <a href="/master-reset-home"><button type="button" class="btn btn-primary">Reset Database</button></a>
    </div>
    <br>
    <br>
    <div class="row" style="display: block; margin-left: -50px; margin-top: -20px;">
        <a data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
            aria-controls="collapseTwo">


            <div align = "right" id="dropbtn"
                style="font-size:17px; font-weight: bold; border: 1px solid grey; color: white; border-radius: 5px; background-color: #003E7F; padding: 7px; margin: -5px; margin-bottom: -15px; width: 125px; margin-left: 1030px;">
                + Add Status
                <i class="bi-chevron-down"
                    style="width:11px; height:11px; float: right; padding-top: 3px; margin-right: 7px; "></i>

            </div>
            <br>
        </a>
        <br>
        <span
            style="float:left; margin-top: -10px; margin-left: 5px; margin-right: -5px; padding-right: 10px;"
            id="collapseTwo" class="collapse people">
            <div class="container">
                <form method='POST'>
                    <div style="border: 1px solid grey; border-radius: 5px; background-color: #C9E5EF;">
                        <div class="form-group" class="grid-container" style="display: grid;
                    grid-template-columns: auto auto ; grid-gap: 30px; padding: 10px;">
                            <div><label for="ticket_status">Ticket Status</label>
                                <select class="form-select" id="ticket_status" name="ticket_status"
                                    placeholder="Enter Ticket Status">
                                    {% for status in statuses %}
                                    <option value="{{status.status}}">{{status.status}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="alert_subject">Alert Subject</label>
                                <input type="text" name="alert_subject" id="alert_subject" placeholder="Enter Alert Subject"
                                    class="form-control name_list" />
        
                            </div>
                            <div>
                                <label for="alert_body">Alert Body</label>
                                <input type="radio" id="HTML" name ="body_type" value="HTML">
                                <label for="html">HTML</label>
                                <input type="radio" id="text" name ="body_type" value="text" checked>
                                <label for="text">Text Only</label>
                                <small>(Placeholders: &lt;ticket_id&gt;,&lt;ticket_status&gt;)</small>
                                <textarea type="text" name="alert_body" id="alert_body" placeholder="Enter Alert Body"
                                    class="form-control name_list"></textarea>
                            </div>
                            <div>
                                <label for="recipients">Recipients</label>
                                <select class="form-select" id="recipients" name="recipients" placeholder="Enter Recipients">
                                    <option value="admin">Admin</option>
                                    <option value="reporter">Reporter</option>
                                    <option value="assignee">Assignee</option>
                                    <option value="assignee;reporter">Assignee;Reporter</option>
                                    <option value="assignee;admin">Assignee;Admin</option>
                                    <option value="admin;reporter">Admin;Reporter</option>
                                    <option value="admin;reporter;assignee">Admin;Reporter;Assignee</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div align="center">
                        <button type="submit" id="createbtn" class="btn btn-info" style="background-color: #003E7F; color: white;">
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </span>
    </div>

   

    <div class="container">
        <table class="table" id="myTable">
            <thead class="thead-light">
                <tr style="background-color: #003E7F; color: white;">
                    <th style = "font-size: 15px;">Ticket Status</th>
                    <th style = "font-size: 15px;">Recipients</th>
                    <th style = "font-size: 15px;" >Alert Subject</th>
                    <th style="width:50%;font-size: 15px;">Alert Body</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for alert in alerts %}
                <tr>
                    <td>{{alert.ticket_status}}</a></td>
                    <td>{{alert.recipients|capitalize}}</td>
                    <td>{{alert.alert_subject}}</td>
                    <td><p id="body{{alert.id}}">{{alert.alert_body}}</p></td>
                    <td>
                        <button type="button" onClick="editAlert('{{alert.id}}')" class="btn btn-danger"><span class="bi-pen"></span></button>
                        <a href="/delete-alert/{{alert.id}}"><button type="button"
                                class="btn btn-danger"><span class="bi-trash"></span></button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function editAlert(alert_id)
        {
            var ticket_status = document.getElementById("ticket_status");
            var alert_subject = document.getElementById("alert_subject");
            var alert_body = document.getElementById("alert_body");
            var recipients = document.getElementById("recipients");
            var createbtn = document.getElementById("createbtn");
            {% for alert in alerts %}
                curr_id = String({{alert.id}});
                if(curr_id.localeCompare(alert_id)==0)
                {
                    ticket_status.value = "{{alert.ticket_status}}";
                    alert_subject.value = "{{alert.alert_subject}}";
                    var text = document.getElementById("body"+alert_id);
                    alert_body.innerHTML = text.textContent;
                    recipients.value = "{{alert.recipients}}";
                    createbtn.innerHTML = "Save Changes";
                }
            {% endfor %}
            $('.collapse').collapse('show');
        }
        $(document).ready(function () {
            var navele = document.getElementById('navmaster');
	        navele.setAttribute("style","padding-left:25px; color: white; font-weight: bold;");
            $('#myTable').DataTable();
            $('#submit').click(function () {
                window.location.href = "/master-alert-home";
            });
        });
    </script>
    <br>
</body>
{% endblock %}