{% extends "base.html" %}
{% block title %} Master Ticket Statuses {% endblock %}
{% block content %}
<style>
    .table>tbody>tr:nth-of-type(odd) {  
     background-color:#C9E5EF;  
  }  
     
      
  </style>
<body>
    <br>
    <div align='center'>
        <a href="/master-ticketcode-home"><button type="button" class="btn btn-primary">Ticket Code</button></a>
        <a href="/master-status-home"><button type="button" class="btn btn-success" style="background-color: #003E7F;">Ticket Statuses</button></a>
        <a href="/master-question-home"><button type="button" class="btn btn-primary">Questionnaire</button></a>
        <a href="/master-effort-home"><button type="button" class="btn btn-primary">Effort Estimation Fields</button></a>
        <a href="/master-alert-home"><button type="button" class="btn btn-primary">Alert Configuration</button></a>
        <a href="/master-logo-home"><button type="button" class="btn btn-primary">Logo Upload</button></a>
        <a href="/master-reset-home"><button type="button" class="btn btn-primary">Reset Database</button></a>
    </div>
    <br>
    <div class="container">
        <div class="form-group">  
             <form name="add_status" id="add_status">  
                  <div class="table-responsive">
                       <table class="table" id="dynamic_field"  style = " border-radius:15px;">  
                            <tr>  
                                 <td style="width:84%"><input type="text" name="status" placeholder="Enter Status" maxlength = "25" class="form-control name_list"/></td>  
                                 <td><button type="button" name="add" id="add" class="btn btn-success" style="background-color: #003E7F;">Add Ticket Status</button></td>  
                            </tr>  
                       </table>  
                  </div>  
             </form>  
        </div>  
    </div>
    <div class="container">
        <table class = "table" id="myTable">
            <thead class = "thead-light">
                <tr style="background-color: #003E7F; color: white;">
                    <th style = "font-size: 15px;">Status ID</th>        
                    <th style = "font-size: 15px;">Status</th>
                    <th style = "font-size: 15px;">Created On</th>
                    <th style = "font-size: 15px;">Created By</th>
                    <th></th>
                </tr>
            </thead>
        <tbody>
            {% for status in statuses %}
                <tr>
                    <td>{{status.id}}</a></td>
                    <td><p id="status{{status.id}}">{{status.status}}</p></td>
                    <td>{{status.date_created}}</td>
                    <td>{% if status.author_id %} {{ status.author.username}} {%else%} Default {%endif%}</td>
                    <td>
                        {% if status.status != "Opened" and status.status != "Assigned" and status.status != "In-Review" and status.status != "Closed" and status.status != "Cancelled"%}
                        <div class="btn-group" id="buttongroup{{status.id}}">
                            <button type="button" id="button{{status.id}}" class="btn btn-danger" onclick="editStatus('{{status.id}}')"><span class="bi-pen" id="icon{{status.id}}"></span></button>
                            <button type="button" class="btn btn-danger"><a href="/delete-status/{{status.id}}" class="dropdown-item"><span class="bi-trash"></span></a></button>
                        </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>  
    </table>
   </div>
   <script>
    function editStatus(status_id) {
                var edittext = document.getElementById("status" + status_id);
                var button = document.getElementById("button" + status_id);
                var icon = document.getElementById("icon" + status_id);
                var textbox = document.createElement("textarea");
                var close = document.createElement("button");
                var curr = document.createElement("p");
                var btngroup = document.getElementById("buttongroup" + status_id);
                var currtext = edittext.textContent;
                close.setAttribute("class","btn btn-danger");
                close.innerHTML = "<span class='bi-x-lg'></span>";
                icon.setAttribute("class", "bi-save");
                curr.innerHTML = currtext;
                textbox.value = currtext;
                edittext.parentNode.replaceChild(textbox, edittext);
                btngroup.append(close);
                close.onclick = function () {
                    icon.setAttribute("class", "bi-pen");
                    textbox.parentNode.replaceChild(curr, textbox);
                    btngroup.removeChild(close);
                    location.reload();
                };
                button.onclick = function () {
                    icon.setAttribute("class", "bi-pen");
                    var newtext = textbox.value;
                    edittext.innerHTML = newtext;
                    textbox.parentNode.replaceChild(edittext, textbox);
                    const dict_values = { status_id, newtext };
                    const s = JSON.stringify(dict_values);
                    $.ajax({
                        url: "/edit-status/" + status_id,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(s)
                    });
                    btngroup.removeChild(close);
                    location.reload();
                };
            }
    var navele = document.getElementById('navmaster');
	navele.setAttribute("style","padding-left:25px; color: white; font-weight: bold;");
    $(document).ready(function(){ 
        $('#myTable').DataTable();  
        $('#add').click(function(){  
                $.ajax({  
                    url:"/master-status",  
                    method:"POST",  
                    contentType: "application/json",
                    data: JSON.stringify($('#add_status').serializeArray()),
                });
                window.location.href = "/master-status-home"; 
            });
        });
    </script>
    <br>
</body>
{% endblock %}   